<!DOCTYPE html>
<html lang="en">

<head>
	<title>Address</title>
</head>

<body>
	<form action="" method="post">
		<input type="text" name="address" placeholder="Address" value="{{request.form.address}}">
		<input type="text" name="landmark" placeholder="Landmark" value="{{request.form.landmark}}">
		<input type="text" name="city" placeholder="City" value="{{request.form.city}}">
		<input type="text" name="state" placeholder="State" value="{{request.form.state}}">
		<input type="text" name="pincode" placeholder="Pincode" value="{{request.form.pincode}}">
		<input type="text" name="auth_string" placeholder="Password" value="{{request.form.auth_string}}">
		<input type="submit" value="Update Address">
	</form>
</body>

</html>